.text_strong{
  font-weight: 600;
}
.bagCss{
  padding-right: .3em !important;
  padding-left: .3em !important;
}
.chatCountCss{
  position: relative;top: -8px;left: -5px;
}
.searchBg{
  background-color: #716e6f;
  border-radius: 50%;
  padding: 4px;
}
.bg-back{
  background-color: #444c55de !important;
}
.light-grey{
  color: #eae7e7 !important;
}
