.navList{
  padding-left: 20px;
  padding-right: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  font-weight: 500;
  color: #00f9f6;
  background-color: transparent;
}
a{
  color: #ccc7c7;
}

.form-rounded {
  border-radius: 1rem;
}
.hrCss{
  border-top: 1px solid #535050;
  margin-bottom: 0;
  margin-top: 0;
}
.storyCss{
  position: absolute;
  bottom: 10px;
  color: white;
  font-weight: bold;
  background-color: #90909085;
  width: 100%;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
.btnCenterCss{
  position: absolute;
  top: 50%;
  left: 35%;
}

.cover-item {
  position: relative;
  display: inline-block;
  margin: 8px 8px;
  border-top-right-radius: 4px;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.red{
  color: red !important;
}
.imgDim{
  width: 270px;
  height: 270px;
}
.doubleClick{
  touch-action: manipulation;
}
.imgShadow{
  text-shadow: 3px 6px #bfbfbf;
}
.container {
  display: grid;
  grid-template-columns: 100% 0%;
  width: 36%;
}
.container button {
  background: transparent;
  border: 0;
  transform: translateX(-40px);
  cursor: pointer;
}
.container button:focus {
  outline: 0;
}
.bg-back{
  background-color: #444c55de !important;
}
.liStyle{
  font-weight: 500;
  color: #00f9f6;
}
.badgeStyle{
  background-color: #00f9f6 !important;
color: black !important;
}
.nav-pills .nav-item > .active{
  border-bottom: 3px solid #00f9f6;
}
.chat-text{
  color: #b0bdc8 !important;
}
.chatCss{
  position: relative;
  top: -4px;
}
.searchBg {
  background-color: #716e6f;
  border-radius: 50%;
  padding: 4px;
}
